{{define "error"}}
<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
    <title></title>
    <link rel="stylesheet" href="/dist/tailwind.css" />
</head>
<body class="h-screen bg-blackBex font-mono">
    <main class="w-full items-center flex flex-col items-center justify-around h-screen">
        <section class="w-full items-center flex flex-row items-center justify-center">
      <pre class="font-mono sm:text-[14px] text-[9px] whitespace-pre leading-[0.6rem] sm:leading-[1.1rem] text-purpleMedium font-black whitespace-pre">
        _/_/_/_/                                          
        _/        _/  _/_/  _/  _/_/    _/_/    _/  _/_/   
       _/_/_/    _/_/      _/_/      _/    _/  _/_/        
      _/        _/        _/        _/    _/  _/           
     _/_/_/_/  _/        _/          _/_/    _/                        
      </pre>
      <div class="flex flex-col">
        <p class="text-pinkText text-6xl">{{.Code}}</p>
        <p class="text-purpleMedium text-2xl ">{{.Message}}</p>
      </div>            
        </section>
        <section>
            <a class="text-whiteText bg-purpleMedium px-4 py-2 my-2" href="/">
                back to /
            </a>
        </section>

    </main>
</body>
</html>
{{end}}