{{define "guestbook"}}
<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
    <title></title>
    <link rel="stylesheet" href="/dist/tailwind.css" />
    <link rel="stylesheet" href="/dist/main.css" />
</head>
<body class="h-screen bg-blackBex font-mono">
    {{template "header" .}}
    <main class="flex flex-col items-center justify-center w-full ">
<pre class="font-mono sm:text-[14px] text-[9px] whitespace-pre leading-[0.3rem] sm:leading-[1rem] text-purpleMedium font-black whitespace-pre my-8">
                    _   
    ___ _ _ ___ ___| |_| |_ ___ ___| |_ 
   | . | | | -_|_ -|  _| . | . | . | '_|
   |_  |___|___|___|_| |___|___|___|_,_|
   |___|                                   
</pre>

<form class="flex flex-col items-center min-w-[600px] py-4" hx-post="/guestbook/add" method="post" hx-target="this">
    <p class="bg-purpleMedium text-whiteText py-2 px-8">you can only send one message (per ip of course)!</p>
    <div class="flex flex-row w-full items-start">
        <label class="text-pinkText py-2">name/id/UUID/tripcode:</label>
        <input type="text" name="guestName" class="inputfield">
    </div>
    <div class="flex flex-row w-full items-start">
        <label class="text-pinkText py-2">payload:</label>
        <input type="text" name="guestText" class="inputfield">
    </div>
    <div class="flex-row">
        <button class="text-whiteText bg-purpleMedium px-4 py-2 my-2" type="submit">
            send!
        </button>
        <button class="text-whiteText bg-purpleMedium px-4 py-2 my-2" hx-delete="/guestbook/delete">
            delete my post
        </button>
    </div>

    <div id="guestbooklist" hx-trigger="load" hx-get="/guestbook/get" hx-target="this">

    </div>
</form>

    </main>
</body>
</html>
{{end}}