{{define "header"}}
<header class="flex flex-col items-center justify-center w-full">
    <menu class="flex py-8">
        <pre class="font-mono sm:text-[14px] text-[9px] whitespace-pre leading-[0.3rem] sm:leading-[0.6rem] text-purpleMedium font-black whitespace-pre">
 __ _               __    __ _ _                     _                 <br/> 
| _| |__   _____  _|_ |  / _(_) | ___  ___ _   _ ___| |_ ___ _ __ ___  <br/> 
| || '_ \ / _ \ \/ /| | | |_| | |/ _ \/ __| | | / __| __/ _ \ '_ ` _ \ <br/> 
| || |_| |  __/&gt;  &lt; | | |  _| | |  __/\__ \ |_| \__ \ ||  __/ | | | | |<br/> 
| ||_.__/ \___/_/\_\| | |_| |_|_|\___||___/\__, |___/\__\___|_| |_| |_|<br/> 
|__|               |__|                    |___/                       <br/> 
        </pre>
    </menu>
    <menu class="flex flex-row min-w-[600px] text-purpleMedium justify-around">
        <a class="text-xl py-2 px-8 bg-purpleDark" href="/dog"><p class="text-whiteText">root</p></a>
        <a class="text-xl py-2 px-8 bg-purpleDark" href="/dog"><p class="text-whiteText">/guestbook</p></a>
        <a class="text-xl py-2 px-8 bg-purpleDark" href="/dog"><p class="text-whiteText">/b3x</p></a>
        <a class="text-xl py-2 px-8 bg-purpleDark" href="/dog"><p class="text-whiteText">/projects</p></a>
    </menu>
</header>
{{end}}