{{define "header"}}
<header class="flex flex-col items-center justify-center w-full">
  <menu class="flex py-8">
    <pre
      class="font-mono sm:text-[14px] text-[9px] whitespace-pre leading-[0.6rem] sm:leading-[1.1rem] text-purpleMedium font-black whitespace-pre"
    >
    ____                  ____    _____
   / __ )  ___    _  __  / __ \  / ___/
  / __  | / _ \  | |/_/ / / / /  \__ \ 
 / /_/ / /  __/ _>  <  / /_/ /  ___/ / 
/_____/  \___/ /_/|_|  \____/  /____/  
        </pre
    >
  </menu>

  <menu
    class="flex flex-row min-w-[600px] justify-around border-t-2 border-b-2 py-2 border-purpleMedium"
  >
    <a class="text-xl py-2 px-8" href="/"
      ><p class="text-whiteText hover:text-pinkText">/</p></a
    >
    <a class="text-xl py-2 px-8" href="/bex"
      ><p class="text-whiteText hover:text-pinkText">/b3x</p></a
    >
    <a class="text-xl py-2 px-8" href="/guestbook"
      ><p class="text-whiteText hover:text-pinkText">/guestbook</p></a
    >
    <a class="text-xl py-2 px-8" href="/dog"
      ><p class="text-whiteText hover:text-pinkText">/blog</p></a
    >
  </menu>
</header>
{{end}}
