{{define "header"}}
<header class="flex flex-col items-center justify-center pt-4 mb-16 h-40">
    <pre class="ascii">
        &nbsp;__ _               __    __ _ _                     _                 <br/> 
        | _| |__   _____  _|_ |  / _(_) | ___  ___ _   _ ___| |_ ___ _ __ ___  <br/> 
        | || '_ \ / _ \ \/ /| | | |_| | |/ _ \/ __| | | / __| __/ _ \ '_ ` _ \ <br/> 
        | || |_| |  __/&gt;  &lt; | | |  _| | |  __/\__ \ |_| \__ \ ||  __/ | | | | |<br/> 
        | ||_.__/ \___/_/\_\| | |_| |_|_|\___||___/\__, |___/\__\___|_| |_| |_|<br/> 
        |__|               |__|                    |___/                       <br/> 
        
              </pre>
</header>
{{end}}